#app {
  padding: 0;
  justify-content: center;
}

main {
  padding: 0;
  flex-grow: 0;
  display: grid;
  grid-template-columns: repeat(4, 255px);
  grid-template-rows: repeat(2, 245px);
  gap: 30px;
  max-width: none;
  width: auto;
}

.attribution {
  display: none;
}

.user-report-container {
  grid-row-start: 1;
  grid-row-end: 3;
}

.user-report {
  flex-direction: column;
  align-items: flex-start;
  padding-top: 35px;
}

.user-report img {
  width: 80px;
  height: 80px;
}

.report-text {
  position: relative;
  left: 5px;
  margin-left: 0px;
  margin-top: 39px;
  margin-bottom: 49px;
}

.report-text p {
  margin-bottom: 3px;
  margin-top: 0px;
}

.report-text .user-name {
  font-size: 39px;
}

.freq {
  position: relative;
  left: 10px;
  top: 2px;
  font-size: 18px;
  flex-direction: column;
}

.freq div {
  margin-bottom: 25px;
}

.activity-container {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 46px;
}

.activity {
  padding-bottom: 27px;
  padding-left: 31px;
  font-size: 18px;
}

.activity-hours {
  margin-top: 19px;
  font-size: 55px;
}

.activity-row {
  flex-wrap: wrap;
}

.activity-last-week {
  margin-top: 9px;
}

.dots {
  right: 2px;
  top: -12px;
}
